<!-- footer Start -->
<footer>
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <h1>Contact Us</h1>
          <ul>
            <li><a href="https://www.instagram.com/bigredpepband/"><img src="{{ site.baseurl }}/img/ig.png" alt="Logo" width="40" height="40" class="img-icon2"></a></li>
            <li><a href="https://www.facebook.com/CornellBigRedPepBand/"><img src="{{ site.baseurl }}/img/fb.png" alt="Logo" width="40" height="40" class="img-icon2"></a></li>
            <li><a href="https://twitter.com/BigRedPepBand"><img src="{{ site.baseurl }}/img/tw.png" alt="Logo" width="40" height="40" class="img-icon2"></a></li>
            <li><a href="https://www.youtube.com/user/BRPBHistorian"><img src="{{ site.baseurl }}/img/yt.png" alt="Logo" width="40" height="40" class="img-icon2"></a></li>
          </ul>
        </div>
        <p>
          For information about the band, scheduling, comments, or concerns, please contact the Pep Band Manager, <a href="mailto:sme63@cornell.edu">Susan Eichhorn</a>.
          <br>
          For questions or comments about the website, please email the current webmaster, <a href="mailto:jmh468@cornell.edu">Magnus Hoglund</a>.
          <br>
          If you would like to report a concern about the band anonymously, please use the <a href="{{ site.baseurl }}/anon.concern.php">Anonymous Concern Box</a>.
        </p>
        <p>
          <a href="http://mb.bigredbands.org/">Big Red Marching Band</a> &emsp; | &emsp;
          <a href="http://brbaa.bigredbands.org/">Big Red Bands Alumni Association/Band Notes</a> &emsp; | &emsp;
          <a href="http://cornellbigred.com/">Cornell Athletics</a> &emsp; | &emsp;
          <a href="http://cornell.edu/">Cornell University</a> &emsp; | &emsp; 
          <a href="mailto:sme63@cornell.edu">Contact the Head Manager</a>
        </p>
      </div>
    </div>
  </div>
</footer>
